
<h1>forgot Password</h1>

<form method="post" action="/Auth/forgotpassword">

<label for="email">Email:</label> 
<input type="email" id="email" name="email" title="forgot password" />
<input type="submit" value="send" title="Change password" />
</p>

</form>
