<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#d0d0d0" style="padding: 0; margin: 0">
  <tbody>
    <tr>
      <td align="center">
        <div class="div_scale" style="width:600px;margin:30px 0px">
          <table class="table_scale" width="600" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#f0f0f0" style="padding:0; margin: 0">
            <tbody>
              <tr>
                <td>
                  <div style="padding: 10px;background: #fff"></div>
                </td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px 20px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:24px ; color:#444444; font-family: Lucida Sans Unicode; line-height: 34px; ">Hello ,</td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px 20px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:15px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; ">You are receiving this email because you (or someone else) have requested the reset of the password for your account. </td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px 20px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:15px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; ">Please click on the following link, or paste this into your browser to complete the process:</td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px 20px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:15px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; "><a href="https://TecHindustan.com/verifyaccount/undefined">https://TecHindustan.com/verifyaccount/</a></td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px 20px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:15px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; ">After Reset Password you may login to: &nbsp;<a href="http://TecHindustan.com/login">http://TecHindustan.com/login</a></td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:15px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; ">Kind Regards,</td>
              </tr>
              <tr>
                <td class="left" align="left" valign="top" bgcolor="#fff" style="padding: 0px 20px;  text-shadow: 1px 1px 0px #ffffff;font-size:15px ; color:#727272; font-family: Arial,sans-serif; line-height: 23px; ">TecHindustan Team</td>
              </tr>
              <tr>
                <td>
                  <div style="padding: 10px;background: #fff"></div>
                </td>
              </tr>
              <tr>
                <td class="full_width" align="center" width="100%" bgcolor="#d0d0d0">
                  <div class="div_scale" style="width:600px">
                    <table class="table_scale" width="" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#353535" style="padding:0; margin: 0">
                      <tr>
                        <td align="center" valign="top" width="600" bgcolor="#f2f2f2">
                          <table align="center" width="100%">
                            <tr>
                              <td align="center" valign="top" style=" padding: 40px 20px; font-size:13px ; color:#262626; font-family: Arial,sans-serif; line-height: 23px; ">
                                <p style="text-decoration: none; color: #262626"><a style="text-decoration: none; color: #262626" href="https://www.google.com/maps/place/Unit+52%2F65+King+William+Street,+Adelaide+SA+5000,+Australia/@-34.9239629,138.5969487,17z/data=!3m1!4b1!4m5!3m4!1s0x6ab0ced62ca22bc5:0xc77c759b4adcd346!8m2!3d-34.9239629!4d138.5991374">f301 phase 8b Industrial Area Mohali</a></p>
                                <p>©  2018 TecHindustan | All Rights Reserved.</p>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" valign="top" style="border-top: 1px solid #d0d0d0; padding: 20px 20px; font-size:13px ; color:#262626; font-family: Arial,sans-serif; line-height: 23px; "><a style="text-decoration: none; color: #262626" href="http://TecHindustan.com">TecHindustan</a></td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>