<!--service start-->
		<section id="service"  class="service">
				<div class="container">
					<div class="service-details">
						<div class="section-header text-center">
							<h2>our services</h2>
							<p>
								Pallamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
							</p>
						</div><!--/.section-header-->
						<div class="service-content-one">
							<div class="row">
								{{#each services}}
								<div class="col-sm-4 col-xs-12">
									<div class="service-single text-center">
										<div class="service-img">
											<img src="/images/service/{{this.icon}}" alt="image of service" />
										</div><!--/.service-img-->
										<div class="service-txt">
											<h3>
												{{this.title}}
											</h3>
											<p>
												{{this.description}}
											</p>
											<a href="#" class="service-btn">
												learn more
											</a>
										</div><!--/.service-txt-->
									</div><!--/.service-single-->
								</div><!--/.col-->
								{{/each}}
							</div><!--/.row-->
						</div><!--/.service-content-two-->
					</div><!--/.service-details-->
				</div><!--/.container-->

		</section><!--/.service-->
		<!--service end-->

		<!--statistics start-->
		<section  class="statistics" style="background-image:url(/images/counter/counter-banner.jpg">
			<div class="container">
				<div class="statistics-counter "> 
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-img">
								<img src="/images/counter/counter1.png" alt="counter-icon" />
							</div><!--/.statistics-img-->
							<div class="statistics-content">
								<div class="counter">2556</div>
								<h3>days worked</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-img">
								<img src="/images/counter/counter2.png" alt="counter-icon" />
							</div><!--/.statistics-img-->
							<div class="statistics-content">
								<div class="counter">326</div>
								<h3>project finished</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-img">
								<img src="/images/counter/counter3.png" alt="counter-icon" />
							</div><!--/.statistics-img-->
							<div class="statistics-content">
								<div class="counter">1526</div>
								<h3>coffee cup</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
					<div class="col-md-3 col-sm-6">
						<div class="single-ststistics-box">
							<div class="statistics-img">
								<img src="/images/counter/counter4.png" alt="counter-icon" />
							</div><!--/.statistics-img-->
							<div class="statistics-content">
								<div class="counter">856</div>
								<h3>client satisfied</h3>
							</div><!--/.statistics-content-->
						</div><!--/.single-ststistics-box-->
					</div><!--/.col-->
				</div><!--/.statistics-counter-->	
			</div><!--/.container-->

		</section><!--/.statistics-->
		<!--statistics end-->