<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    New User
    <small>Create a new User</small>
  </h1>
<form action="/user/add" method="post" name="form1">
  <table width="25%" border="0">
    <tbody>
      <tr>
        <td>Name</td>
        <td>
          <input id="name" type="text" name="name" placeholder="name" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td>Age</td>
        <td>
          <input type="text" name="age" placeholder="age" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td>Email</td>
        <td>
          <input type="text" name="email" placeholder="email" class="form-control"/>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <input type="submit" name="Submit" placeholder="Add"/>
        </td>
      </tr>
    </tbody>
  </table>
</form>
</section>
