<!-- Content Header (Page header) -->
<section class="content-header">
   <div class="row">
    <div class="col-sm-6">
      <div class="box box-primary">
  <div class="box-header with-border">
  <h1 class="box-title"></h1>
  <h3>
    New Categories
  </h3>
<form action="/categories/add" method="post" name="form1">
  <div class="box-body">
      <div class="form-group">
          <label>Name</label>
          <input id="name" type="text" name="name" placeholder="name" class="form-control"  />
        </div>
       </div>
          <input type="submit" name="Submit" placeholder="Add" class="btn btn-primary"/>
</form>
</section>