<section class="content-header">
  <div class="row">
    <div class="col-sm-6">
      <div class="box box-primary">
  <div class="box-header with-border">
  <h3 class="box-title">
    <h4>
  categories/Update categories
  </h4>
  </div>
<form action="" method="post" name="form1">
    <div class="box-body">
      <div class="form-group">
          <label>Name</label>
          <input id="name" type="text" name="name" placeholder="name" class="form-control" value="{{categories.name}}" />
          <p style="color: red"> &nbsp;
            {{#if err.name}}
              {{err.name}}
            {{/if}}
          </p>
        </div>
       </div>
  <div class="box-footer">
    <input type="submit" name="Submit" value="Update" class="btn btn-primary" />
  <input type="hidden" name="_method" value="PUT"/>
  </div>
</form>
</div>
</div>
</div>
</section>